/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/03/2017, 8:34:17 AM
    Author     : Anthony.Wratten
*/

.bg-primary {
    background-color: #5390FF;
    color: white;
}

.form-upload {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

