/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/03/2017, 8:34:17 AM
    Author     : Anthony.Wratten
*/

.bg-primary {
    background-color: #5390FF;
}

h1 {
    color:  #5390FF;
}
h2 {
    color:  #5390FF;
}
h3 {
    color:  #5390FF;
}
h4 {
    color:  #5390FF;
}

.form-upload  {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.mb30 {
    margin-bottom: 30px;
}

html {
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    font-size:12px;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing:antialliased
}
body {
    margin:0
        
}
.upload-icon {
    color:#5390FF;
    font-size:62pt;
}
.logo-img {
    margin-bottom: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}